
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!--qaynaq oxuma-->
                <div class="qaynaq-read">
                    <div class="qaynaq-read-body">
                        <h1>Lorem Ipsum Dolor Sit Amet</h1>
                        <ul>
                            <li class="qrb-person"><a href="#">Polad İbrahimov</a></li>
                            <li class="qrb-date"><a href="#">İyul 15, 2017</a></li>
                            <li class="qrb-file"><a href="#">ASP.NET</a></li>
                        </ul>
                    </div>
                    <div class="qaynaq-text">
                        <img src="../Content/img/code.jpg" class="img-responsive" alt="Responsive image">
                        <p>
                            The standard Lorem Ipsum passage, used since the 1500s "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum." Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
                            ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                            voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
                            nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?" 1914 translation by H. Rackham "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                            born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself,
                            because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of
                            itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except
                            to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?" Section
                            1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                            excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,
                            cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum
                            necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus
                            asperiores repellat." 1914 translation by H. Rackham "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by
                            desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and
                            pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed
                            and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore
                            always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.
                        </p>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="qaynaq-read-like">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                    <span class="like-count">0</span>
                                </button>
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                    <span class="dislike-count">0</span>
                                </button>
                            </div>
                            <div class="qaynaq-read-count">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <span class="read-count">450</span>
                            </div>
                        </div>
                    </div>
                    <!--qaynaq şərhlər  -->
                    <div class="comments">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Şərhlər
                            </div>
                        </div>
                        <div class="post-comments">
                            <div class="media">
                                <ul class="post-comments-list">
                                    <li class="post-comments-list-item">
                                        <div class="post-comments-item-body">
                                            <div class="post-comments-item-avatar">
                                                <img src="img/comment1.jpg">
                                            </div>
                                            <div class="post-comments-item-right">
                                                <div class="post-comments-item-reply">
                                                    <a href="#">Təkrar cavabla</a>
                                                </div>
                                                <div class="post-comments-item-info">
                                                    <div class="post-comments-item-info-author">
                                                        <a href="#">Polad İbrahimov</a>
                                                    </div>
                                                    <div class="post-comments-item-info-date">
                                                        <span>İyul 24, 2017 saat 21:28</span>
                                                    </div>
                                                </div>
                                                <div class="post-comments-item-post">
                                                    <p>
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                                                        and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                                                        1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="post-comments-children">
                                            <li class="post-comments-item">
                                                <div class="post-comments-item-body">
                                                    <div class="post-comments-item-avatar">
                                                        <img src="img/comment1.jpg">
                                                    </div>
                                                    <div class="post-comments-item-right">
                                                        <div class="post-comments-item-reply">
                                                            <a href="#">Təkrar cavabla</a>
                                                        </div>
                                                        <div class="post-comments-item-info">
                                                            <div class="post-comments-item-info-author">
                                                                <a href="#">Polad İbrahimov</a>
                                                            </div>
                                                            <div class="post-comments-item-info-date">
                                                                <span>İyul 24, 2017 saat 21:28</span>
                                                            </div>
                                                        </div>
                                                        <div class="post-comments-item-post">
                                                            <p>
                                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                                                of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
                                                                popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
                                                                of Lorem Ipsum
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="post-comments-list-item">
                                        <div class="post-comments-item-body">
                                            <div class="post-comments-item-avatar">
                                                <img src="img/comment1.jpg">
                                            </div>
                                            <div class="post-comments-item-right">
                                                <div class="post-comments-item-reply">
                                                    <a href="#">Təkrar cavabla</a>
                                                </div>
                                                <div class="post-comments-item-info">
                                                    <div class="post-comments-item-info-author">
                                                        <a href="#">Polad İbrahimov</a>
                                                    </div>
                                                    <div class="post-comments-item-info-date">
                                                        <span>İyul 24, 2017 saat 21:28</span>
                                                    </div>
                                                </div>
                                                <div class="post-comments-item-post">
                                                    <p>
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                                                        and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                                                        1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="post-comments-respond">
                                <h5>Bir cavab buraxın:</h5>
                                <form action="" method="">
                                    <div class="form-group">
                                        <label for="exampleTextarea">Şərh</label>
                                        <textarea class="form-control" id="exampleTextarea" rows="8"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="usr">Ad*</label>
                                        <input type="text" class="form-control" id="usr">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email*</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>
                                    <p class="post-comments-respond-submit">
                                        <input type="submit" name="submit" class="btn" value="Şərh yaz">
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- Oxşar mövzuda qaynaqlar -->
                <div class="similar-sources">
                    <h3>Oxşar mövzuda qaynaqlar</h3>
                    <div class="similar-sources-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">Lorem Ipsum Dolor Sit Amet</a>
                            <a href="#" class="list-group-item">Lorem Ipsum Dolor Sit Amet</a>
                            <a href="#" class="list-group-item">Lorem Ipsum Dolor Sit Amet</a>
                            <a href="#" class="list-group-item">Lorem Ipsum Dolor Sit Amet</a>
                            <a href="#" class="list-group-item">Lorem Ipsum Dolor Sit Amet</a>
                            <a href="#" class="list-group-item">Lorem Ipsum Dolor Sit Amet</a>
                            <a href="#" class="list-group-item">Lorem Ipsum Dolor Sit Amet</a>
                            <a href="#" class="list-group-item">Lorem Ipsum Dolor Sit Amet</a>
                            <a href="#" class="list-group-item">Lorem Ipsum Dolor Sit Amet</a>
                        </div>
                    </div>
                </div>
                <!--categories-->
                <div class="categories">
                    <h1>kateqoriyalar</h1>
                    <div class="seperator"></div>
                    <ul>
                        <li><a href="../Content/categories/html.html">html</a></li>
                        <li><a href="../Content/categories/css.html">css</a></li>
                        <li><a href="../Content/categories/javascript.html">javascript</a></li>
                        <li><a href="../Content/categories/jquery.html">jquery</a></li>
                        <li><a href="../Content/categories/angular.html">angular</a></li>
                        <li><a href="../Content/categories/sql-msql.html">sql / msql</a></li>
                        <li><a href="../Content/categories/c++.html">c++</a></li>
                        <li><a href="../Content/categories/csharp.html">c#</a></li>
                        <li><a href="../Content/categories/asp.net.html">asp.net</a></li>
                        <li><a href="../Content/categories/php.html">php</a></li>
                        <li><a href="../Content/categories/java.html">java</a></li>
                    </ul>
                </div>
                <!--user reting-->
                <div class="user-reting">
                    <h1>istifadəçi reytinqi</h1>
                    <!-- <div class="seperator"></div>-->
                    <div class="reting-slider">
                        <div class="owl-carousel owl-theme">
                            <div>
                                <div class="reting-info">
                                    <ul>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>1</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>2</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>3</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>4</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>5</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <div class="reting-info">
                                    <ul>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>6</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>7</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>8</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>9</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>10</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

