
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!--categories-->
                <div class="categories">
                    <h1>kateqoriyalar</h1>
                    <div class="seperator"></div>
                    <ul>
                        <li><a href="categories/html.html">html</a></li>
                        <li><a href="categories/css.html">css</a></li>
                        <li><a href="categories/javascript.html">javascript</a></li>
                        <li><a href="categories/jquery.html">jquery</a></li>
                        <li><a href="categories/angular.html">angular</a></li>
                        <li><a href="categories/sql-msql.html">sql / msql</a></li>
                        <li><a href="categories/c++.html">c++</a></li>
                        <li><a href="categories/csharp.html">c#</a></li>
                        <li><a href="categories/asp.net.html">asp.net</a></li>
                        <li><a href="categories/php.html">php</a></li>
                        <li><a href="categories/java.html">java</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <!--qaynaqlar-->
                <div class="section-center">
                    <div class="last-source">
                        <h5>Son əlavə olunan qaynaqlar</h5>
                    </div>
                    <div class="source-body">
                        <div class="source">
                            <div class="source-text-header">
                                <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                <ul>
                                    <li class="source-person"><a href="#">Polad İbrahimov</a></li>
                                    <li class="source-date"><a href="#">İyul 15, 2017</a></li>
                                    <li class="source-file"><a href="#">ASP.NET</a></li>
                                </ul>
                            </div>
                            <div class="text-body">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                    to make a type specimen book...
                                </p>
                                <a href="qaynaqRead.html">Read More</a>
                            </div>
                        </div>
                        <div class="source">
                            <div class="source-text-header">
                                <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                <ul>
                                    <li class="source-person"><a href="#">Polad Ibrahimov</a></li>
                                    <li class="source-date"><a href="#">Iyul 15, 2017</a></li>
                                    <li class="source-file"><a href="#">ASP.NET</a></li>
                                </ul>
                            </div>
                            <div class="text-body">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                    to make a type specimen book...
                                </p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                        <div class="source">
                            <div class="source-text-header">
                                <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                <ul>
                                    <li class="source-person"><a href="#">Polad Ibrahimov</a></li>
                                    <li class="source-date"><a href="#">Iyul 15, 2017</a></li>
                                    <li class="source-file"><a href="#">ASP.NET</a></li>
                                </ul>
                            </div>
                            <div class="text-body">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                    to make a type specimen book...
                                </p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                        <div class="source">
                            <div class="source-text-header">
                                <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                <ul>
                                    <li class="source-person"><a href="#">Polad Ibrahimov</a></li>
                                    <li class="source-date"><a href="#">Iyul 15, 2017</a></li>
                                    <li class="source-file"><a href="#">ASP.NET</a></li>
                                </ul>
                            </div>
                            <div class="text-body">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                    to make a type specimen book...
                                </p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                        <div class="source">
                            <div class="source-text-header">
                                <h2>Lorem Ipsum Dolor Sit Amet</h2>
                                <ul>
                                    <li class="source-person"><a href="#">Polad Ibrahimov</a></li>
                                    <li class="source-date"><a href="#">Iyul 15, 2017</a></li>
                                    <li class="source-file"><a href="#">ASP.NET</a></li>
                                </ul>
                            </div>
                            <div class="text-body">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                    to make a type specimen book...
                                </p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                        <div class="source">
                            <div class="source-text-header">
                                <h3>Lorem Ipsum Dolor Sit Amet</h3>
                                <ul>
                                    <li class="source-person"><a href="#">Polad Ibrahimov</a></li>
                                    <li class="source-date"><a href="#">Iyul 15, 2017</a></li>
                                    <li class="source-file"><a href="#">ASP.NET</a></li>
                                </ul>
                            </div>
                            <div class="text-body">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                    to make a type specimen book...
                                </p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="source-pagination">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="disabled">
                                    <span>
                                        <span aria-hidden="true">&laquo;</span>
                                    </span>
                                </li>
                                <li class="active">
                                    <span>1 </span>
                                </li>
                                <li>
                                    <span>2 </span>
                                </li>
                                <li>
                                    <span>3 </span>
                                </li>
                                <li>
                                    <span>4 </span>
                                </li>
                                <li>
                                    <span>5 </span>
                                </li>
                                <li>
                                    <span>
                                        <span aria-hidden="true">&raquo;</span>
                                    </span>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!--user reting-->
                <div class="user-reting">
                    <h1>istifadəçi reytinqi</h1>
                    <!-- <div class="seperator"></div>-->
                    <div class="reting-slider">
                        <div class="owl-carousel owl-theme">
                            <div>
                                <div class="reting-info">
                                    <ul>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>1</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>2</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>3</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>4</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>5</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <div class="reting-info">
                                    <ul>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>6</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>7</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>8</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>9</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                        <li>
                                            <a href="#" class="rtg-img">
                                                <img src="" alt="">
                                                <span>10</span>
                                            </a>
                                            <a href="#">Lorem Ipsum</a>
                                            <span class="rtg-num">100 xal</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
