
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="registration">
                    <div id="box">
                        <div id="content">
                            <div id="box_left">
                                <h2>Qeydiyyat</h2>
                                <div id="login">
                                    <p>Hesabınızdakı məlumatları daxil edin:</p>
                                    <form class="form-horizontal" method="#" action="#">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" placeholder="Adınız" aria-describedby="basic-addon1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                                    <input id="surname" name="surname" type="text" placeholder="Soyadınız" class="form-control input-md">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                                                    <input type="password" class="form-control" id="inputPassword3" placeholder="Şifrə">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                                                    <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Şifrəni təkrar daxil edin" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Yadda saxla
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> <a href="qaydalar.html">Qaydaları</a> oxudum razıyam
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <button type="submit" class="btn btn-default">Qeydiyyatı tamamlayın</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

